<div class="row">








    <div class="col-md-6">
      <h3 id="syllabus-genomics">Genomics Project Organization</h3>
      <ul>
        <li>Data tidiness</li>
        <li>Planning NGS Projects</li>
        <li>Examining Data on NCBI SRA database</li>
      </ul>
    </div>
  <div class="col-md-6">
    <h3 id="syllabus-shell">The Unix Shell</h3>
    <ul>
      <li>Files and directories</li>
      <li>Pipes and redirection</li>
      <li>Creating and running shell scripts</li>
      <li>Organizing bioinformatics projects</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-wrangling">Wrangling Genomics Data</h3>
    <ul>
      <li>Assessing Read Quality</li>
      <li>Trimming and Filtering Reads</li>
      <li>Variant Calling</li>
      <li>Automation</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-cloud">Cloud computing</h3>
    <ul>
      <li>What is the cloud</li>
      <li>Logging into the cloud</li>
      <li>Setting up your environment</li>
      <li>Moving data and results to and from the cloud</li>
    </ul>
  </div>
  <!--
  <div class="col-md-6">
    <h3 id="syllabus-matlab">Programming in MATLAB</h3>
    <ul>
      <li>Working with arrays</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Defensive programming</li>
      <li><a href="{{site.swc_pages}}/matlab-novice-inflammation/reference">Reference...</a></li>
     </ul>
   </div>
   -->
</div>
